/unet_model.pth
/__pycache__
val/desktop.ini
val/images/
val/images/bk
val/masks/
val/
resultados/
train/images/
train/images_old/
train/masks/
train/masks_old/
loss.txt
buildings.pth
buildings_old.pth
buildings_newdataset_cinza.pth
buildings_5Camadas.pth
buildings_6Camadas.pth
log_6Camadas.txt
log_5Camadas.txt